<div class="about-me-container">

    <div fxLayoutAlign="end center" class="mt10">
        <mat-icon fxFlex="8" (click)="close()">close</mat-icon>
    </div>

    <div class="w100" fxLayoutAlign=" center" fxLayout="column">

        <div class="photo mt20">
            <img src="../../../../assets/img/myPhoto.png" alt="">
        </div>

        <div class="w100 info-container mt20 fw100">
            <div>
                <strong>Hello!</strong> My name is Anastasiia. <br>
                I am Ukrainian. I am 24 years old. Now I live in Italy. <br>
                In my free time, I like to read, watch movies and <br>
                ride by the sea with my friends.
            </div>

            <div class="mt20">
                I have almost 3 years of frontend experience. <br>
                I also have experience writing a backend for one <br>
                of my projects. I am an experienced and user oriented <br>
                front-end developer. I have a passion for learning <br>
                and development. I strive to solve more complex problems <br>
                and continue to find ways to maximize user efficiency.
            </div>

            <div class="mt20">
                <strong>Nice to meet you!</strong>
            </div>
        </div>
    </div>
</div>